@import "../../styles/mixins.scss";

@mixin vars() {
  --button-height-fancy: 54px;
  --button-height: 48px;
  --button-height-small: 40px;
  --button-width: 100%;
  --button-padding: var(--pad-6);
  --button-padding-small: var(--pad-5);
  --transition-time: 0.7s;

  @media (min-width: $tablet) {
    --button-width: 160px;
    --button-height-fancy: 48px;
    --button-height: 44px;
    --button-height-small: 32px;
    --button-padding: var(--pad-5);
    --button-padding-small: var(--pad-4);
  }

  @media (min-width: $laptop) {
    --button-width: 180px;
    --button-height-fancy: 54px;
    --button-height: 48px;
    --button-height-small: 40px;
    --button-padding: var(--pad-6);
  }

  @media (min-width: $desktop) {
    --button-width: 200px;
    --button-height-fancy: 62px;
    --button-height: 56px;
    --button-height-small: 48px;
    --button-padding: var(--pad-6);
  }
}

.button {
  @include vars;
  @include flex;

  position: relative;
  padding: 0 var(--button-padding);
  min-width: var(--button-width);
  border-radius: var(--button-border-radius);
  width: fit-content;
  text-decoration: none;
  box-sizing: border-box;

  &.secondary {
    min-height: var(--button-height);
    height: var(--button-height);
    transition: 300ms;
    background: var(--white);
    border: 2px solid var(--primary);
    &:hover {
      background: var(--primary);
      > * {
        color: var(--white) !important;
      }
    }
  }

  &.primary {
    min-height: var(--button-height);
    height: var(--button-height);
    transition: 300ms;
    background: var(--primary);
    border: 2px solid var(--primary);
    &:hover {
      background: var(--white);
      > * {
        color: var(--primary) !important;
      }
    }
  }

  &.small {
    min-width: auto !important;
    padding: 0 var(--button-padding-small);
    min-height: var(--button-height-small) !important;
    height: var(--button-height-small) !important;
    transition: 100ms;
  }

  &:disabled {
    cursor: not-allowed;
    background: var(--grey) !important;
  }
}

.container {
  width: 100%;
  @media (min-width: $tablet) {
    width: auto;
  }
}
