@import "../../styles/mixins.scss";

@mixin vars() {
  --quote-height: 60px;
  --quote-width: 100vw;
  --logo-height: 32px;
  @media (min-width: $tablet) {
    --quote-height: 60px;

    --logo-height: 32px;
  }

  @media (min-width: $laptop) {
    --quote-width: 100%;
  }

  @media (min-width: $desktop) {
    --quote-height: 90px;
    --logo-height: 40px;
  }
}

.quote {
  @include vars;
  height: var(--quote-height);

  width: 100%;
  .left {
    width: 50% !important;
  }
  .right {
    width: 50% !important;
  }
  .left {
    background: var(--black);
    width: var(--left-width);
    box-sizing: content-box;
    position: relative;
    .x {
      position: absolute;
      right: 0;
      transform: translateX(50%);
      height: var(--logo-height);
      path {
        fill: var(--primary);
      }
    }
  }
  .right {
    background: var(--white);
    width: var(--right-width);
  }
}
