@import "../../styles/mixins.scss";

@mixin vars() {
  @media (min-width: $tablet) {
  }

  @media (min-width: $laptop) {
  }

  @media (min-width: $desktop) {
  }
}

.tag {
  border: 2px solid var(--grey);
  border-radius: 5px;
  cursor: pointer;
  &.chosen {
    border-color: var(--primary);
    cursor: default;
  }
  p {
    font-size: 20px !important;
    line-height: 20px !important;
  }
}
