@import "../../../styles/mixins.scss";

.title {
  position: relative;
  box-sizing: content-box;
  width: fit-content;
  .heading {
    z-index: 1;
  }
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: calc(100% - 15px);
    object-fit: fill !important;
    fill: var(--primary);
  }
}
