@import "../../../../styles/mixins.scss";

.values {
  // @include flex(space-between, flex-start);

  .value {
    flex: 1;
    .head {
      min-width: fit-content !important;

      .title {
        word-break: keep-all;
      }
    }
    .desc {
      min-width: 300px;
      max-width: 400px;
    }
  }
}
