@import "../../../styles/mixins.scss";

.form {
  @include flexColumn;

  gap: var(--pad-3);
  width: 100%;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  @media (min-width: $desktop) {
    justify-content: flex-start;
  }

  .info {
    @include flexColumn;

    width: 100%;
    gap: var(--pad-3);
    @media (min-width: $tablet) {
      flex-direction: row;
    }
  }

  &.contactForm {
    @media (min-width: $tablet) {
      flex-direction: column;
    }
  }

  &::-webkit-resizer {
    $size: 8px;
    background: none;
    width: 0;
    height: 0;
    border-bottom: $size solid var(--primary);
    border-right: $size solid var(--primary);
    border-left: $size solid transparent;
    border-top: $size solid transparent;
  }
}
