@import "../../../../styles/mixins.scss";

@mixin vars() {
  --ratio: 4/3;
  --circle-size: 72px;
  --circle-border-width: 4px;
  --paragraph-max-lines: 8;
  --svg-height: auto;
  @media (min-width: $tablet) {
  }

  @media (min-width: $laptop) {
    --svg-height: 380px;
  }

  @media (min-width: $desktop) {
    --circle-border-width: 6px;
    --circle-size: 128px;
    --paragraph-max-lines: 12;
    --svg-height: 420px;
  }
}

.wrapper {
  @include vars;
  width: 100%;
  .processes {
    position: relative;
    flex: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: calc((var(--circle-size) - var(--circle-border-width)) / 2);
      width: var(--circle-border-width);
      height: calc(100% + var(--pad-9));
      background: var(--primary);
    }
  }
  svg {
    height: var(--svg-height);
    z-index: 1;
    align-self: center;
  }
  .svgs {
    flex: 1;
    position: relative;
    min-height: 100%;

    .one {
      position: absolute;
      left: 30px;
      top: 30px;
    }
    .two {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
    .three {
      position: absolute;
      left: 40px;
      bottom: 0;
    }
  }
  .container {
    z-index: 1;
    .number {
      width: var(--circle-size);
      height: var(--circle-size);
      min-width: var(--circle-size);
      border: var(--circle-border-width) solid var(--primary);
      border-radius: 50%;
      background-color: var(--white);
    }
    p {
      @include paragraphMaxLines(var(--paragraph-max-lines));
    }
    .title {
      word-wrap: break-word;
    }
    .tags {
      gap: var(--pad-3);
    }
    .imgWrapper {
      aspect-ratio: var(--ratio);
      flex: 0 0 auto;
      width: 100%;
      max-width: 100%;
    }
  }
}
