@import-normalise;
@import "./vars.scss";

:root {
  --tablet: 640px;
  --laptop: 1200px;
  --desktop: 1680px;

  --transition-time: 200ms;

  --white: #ffffff;
  --black: #0f0f0f;
  --grey: #bcbcbc;
  --primary: #fec301;
  --button-border-radius: 6px;
  --pad-0: 0px;
  --pad-1: 5px;
  --pad-2: 10px;
  --pad-3: 15px;
  --pad-4: 20px;
  --pad-5: 30px;
  --pad-6: 45px;
  --pad-7: 60px;
  --pad-8: 90px;
  --pad-9: 120px;
  --pad-10: 180px;
  --pad-11: 240px;

  --heading-main-h1: 128px;
  --heading-main-h2: 64px;
  --heading-main-h3: 48px;
  --heading-main-h4: 32px;
  --heading-main-h5: 24px;

  --heading-main-h1-line: 128px;
  --heading-main-h2-line: 64px;
  --heading-main-h3-line: 48px;
  --heading-main-h4-line: 32px;
  --heading-main-h5-line: 24px;

  --heading-cursive-h1: 128px;
  --heading-cursive-h2: 80px;
  --heading-cursive-h3: 64px;
  --heading-cursive-h4: 48px;
  --heading-cursive-h5: 30px;

  --heading-cursive-h1-line: 128px;
  --heading-cursive-h2-line: 80px;
  --heading-cursive-h3-line: 64px;
  --heading-cursive-h4-line: 48px;
  --heading-cursive-h5-line: 30px;

  --paragraph-big: 32px;
  --paragraph-regular: 24px;
  --paragraph-small: 20px;
  --paragraph-big-line: 38px;
  --paragraph-regular-line: 30px;
  --paragraph-small-line: 24px;

  --navbar-height: 64px;
  --screen-width-large: calc(100vw - var(--pad-6));
  --screen-width-small: calc(100vw - var(--pad-6));

  @media (min-width: $tablet) {
    --navbar-height: 80px;
    --screen-width-small: calc(100vw - var(--pad-9));
    --screen-width-large: calc(100vw - var(--pad-7));
  }

  @media (min-width: $laptop) {
    --screen-width-small: calc(100vw - (var(--pad-10) * 2));
    --screen-width-large: calc(100vw - var(--pad-10));
  }

  @media (min-width: $desktop) {
    --navbar-height: 96px;
    --screen-width-small: calc(var(--desktop) - (var(--pad-9) * 2));
    --screen-width-large: calc(var(--desktop) - var(--pad-6));
  }
}

html,
body,
#root {
  height: 100%;
}

img {
  margin: 0;
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  margin-block: unset;
  margin-inline: unset;
  padding-inline: unset;
  height: 100%;
  li {
    height: 100%;
  }
}
