@import "@/styles/mixins.scss";

.app {
  @include flexColumn(flex-start, flex-start);

  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  background-color: var(--black);
  .page {
    @include flexColumn(flex-start, flex-start);

    background-color: var(--black);
    padding-top: var(--navbar-height);
    width: 100%;
    flex: 1;
  }
}
