@import "../../../styles/mixins.scss";

@mixin vars() {
  --left-height: 60vw;
  --logo-width: 70%;
  --desc-width: 100%;
  --left-flex: unset;
  --right-flex: 1;
  --logo-offset: 0px;
  --bg-size: 350%;
  @media (min-width: $tablet) {
    --logo-width: 80%;
    --left-height: auto;
    --bg-size: 150%;
  }

  @media (min-width: $laptop) {
    --logo-width: auto;
    --left-height: 100%;
    --left-flex: 1;
    --right-flex: 2;
    --logo-offset: 50px;
    --bg-size: 175%;
  }

  @media (min-width: $desktop) {
    --desc-width: 50%;
    --logo-offset: 70px;
    --bg-size: 200%;
  }
}

.hero {
  @include vars;
  @include flexColumn;

  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  border-bottom: 2px solid var(--gold);
  overflow: hidden;
  .quote {
    @include flex(flex-start);
    width: 100% !important;
  }
  .left {
    @include flexColumn;
    background: var(--white);
    flex: var(--left-flex);
    width: 100%;
    min-height: var(--left-height);
    z-index: 1;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; /* Adjust as needed */
      background-image: url("/photos/Textures/FabricTexture.png");
      background-size: var(--bg-size); /* Adjust as needed */
      background-position: bottom;
      background-repeat: repeat-x;
    }
    svg {
      position: relative;
      width: var(--logo-width);
    }
  }
  .right {
    position: relative;
    width: 100%;
    height: 100%;
    flex: var(--right-flex);
    z-index: 0;

    img {
      position: absolute;
      height: 100% !important;
      width: 100% !important;
      object-fit: cover;
      filter: grayscale(100%);
    }
    .container {
      z-index: 1;
      height: 100%;
      box-sizing: border-box;
      max-width: fit-content;
      .description {
        width: var(--desc-width);
      }
      &::before {
        @include absoluteFill;
        content: "";
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.5)
        );
      }
    }
  }
  @media (min-width: $laptop) {
    height: calc(100vh - var(--navbar-height));
    flex-direction: row;
    .quote {
      width: auto;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
    }
    .left {
      height: 100%;
      padding-bottom: unset !important;
      border-bottom: 3px solid var(--black);
      svg {
        position: absolute;
        right: calc(var(--logo-offset) * -1);
        left: var(--logo-offset);
        top: 15%;
      }
      &:before {
        aspect-ratio: 1;
        width: auto;
        transform: rotate(90deg); /* Adjust the angle as needed */
      }
    }
  }
}
