@import "../../../../styles/mixins.scss";

@mixin vars() {
  --ratio: 16/9;
  --columns: 2;
  @media (min-width: $tablet) {
    --ratio: 4/3;
    --columns: 2;
  }

  @media (min-width: $laptop) {
    --columns: 4;
  }

  @media (min-width: $desktop) {
    --columns: 5;
  }
}

.features {
  @include vars;
  display: grid !important;
  grid-template-columns: repeat(var(--columns), 1fr);
  align-items: stretch !important;

  .container {
    @include flexColumn(flex-start, flex-start);
    overflow: hidden;

    .imgWrapper {
      aspect-ratio: var(--ratio);
      flex: 0 0 auto;
      width: 100%;
      max-width: 100%;
    }
    .content {
      background: var(--white);
      background-image: url("../../../../assets/photos/Textures/FabricTexture.png");

      flex: 1;
      p {
        @include paragraphMaxLines(3);
      }
    }
  }
}
