@import "../../../../styles/mixins.scss";

@mixin vars() {
  --ratio: 4/3;
  --columns: 1;
  @media (min-width: $tablet) {
  }

  @media (min-width: $laptop) {
    --ratio: 16/9;
    --columns: 3;
  }

  @media (min-width: $desktop) {
  }
}

.services {
  @include vars;
  display: grid !important;
  grid-template-columns: repeat(var(--columns), 1fr);
  align-items: stretch !important;

  .container {
    border-radius: 4px;
    overflow: hidden;

    .imgWrapper {
      width: 100%;
      box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.1);
      aspect-ratio: var(--ratio);
      margin-bottom: var(--pad-2);
      position: relative;
    }
  }
}
