@import "../../styles/mixins.scss";

@mixin vars() {
  --top-gap: var(--pad-6);
  --container-gap: var(--pad-5);
  --logo-width: 50px;
  --border-width: 4px;
  @media (min-width: $tablet) {
    --top-gap: var(--pad-6);
    --logo-width: 60px;
  }

  @media (min-width: $laptop) {
    --top-gap: var(--pad-7);
    --logo-width: 80px;
  }

  @media (min-width: $desktop) {
    --top-gap: var(--pad-9);
    --container-gap: var(--pad-6);
  }
}

.line {
  background-color: var(--grey);
  opacity: 0.5;
  max-width: 2px;
  min-height: 100%;
  width: 100%;
  align-self: stretch;
}

.footer {
  @include flex;
  @include vars;

  width: 100vw;
  background: var(--black);
  border-top: var(--border-width) solid var(--primary);

  .container {
    width: var(--screen-width-large);
    gap: var(--container-gap);
    padding-bottom: var(--container-gap);
    margin: 0 auto;
    position: relative;
    .legal {
      p {
        text-decoration: underline;
        // &:hover {
        //   color: var(--primary);
        // }
      }
    }
    .logoWrapper {
      .logo {
        position: relative;
        height: var(--logo-width);
        img {
          height: 100%;
        }
      }
    }

    .links {
      flex: 1;
      row-gap: var(--pad-2) !important;
      @media (min-width: $laptop) {
        justify-content: flex-end !important;
      }
      p {
        width: auto;
      }
    }
  }
}
