@import "../../../../styles/mixins.scss";

@mixin vars() {
  --image-width: 100%;
  --img-pad-top: 0;
  @media (min-width: $tablet) {
    --image-width: 240px;
    --img-pad-top: 10px;
  }

  @media (min-width: $laptop) {
    --image-width: 240px;
    --img-pad-top: 12px;
  }

  @media (min-width: $desktop) {
    --image-width: 300px;
    --img-pad-top: 10px;
  }
}

.secondText {
  @media (min-width: $laptop) {
    align-items: flex-start !important;
  }
}
.container {
  @include vars;

  .imgWrapper {
    min-height: var(--image-width);

    aspect-ratio: 1;
    padding-top: var(--img-pad-top);

    flex: 1;
  }
  .text {
    width: 100%;
    flex: 2;
  }

  @media (min-width: $laptop) {
    flex-direction: row !important;
  }
}
