@import "../../../styles/mixins.scss";

@mixin vars() {
  --stroke-height: 32px;
  --big-stoke-width: 160px;

  --big-stroke-1-x: 100px;
  --big-stroke-1-y: -600px;
  --big-stroke-2-x: 0px;
  --big-stroke-2-y: -200px;
  --big-stroke-3-x: 400px;
  --big-stroke-3-y: -700px;
  @media (min-width: $tablet) {
    --stroke-height: 48px;
    --big-stoke-width: 180px;

    --big-stroke-1-x: 100px;
    --big-stroke-1-y: -600px;
    --big-stroke-2-x: 0px;
    --big-stroke-2-y: -500px;
    --big-stroke-3-x: 500px;
    --big-stroke-3-y: -700px;
  }

  @media (min-width: $laptop) {
    --big-stoke-width: 180px;

    --big-stroke-1-x: 100px;
    --big-stroke-1-y: -500px;
    --big-stroke-2-x: 100px;
    --big-stroke-2-y: -600px;
    --big-stroke-3-x: 600px;
    --big-stroke-3-y: -700px;
  }

  @media (min-width: $desktop) {
    --stroke-height: 64px;
    --big-stoke-width: 200px;

    --big-stroke-1-x: 200px;
    --big-stroke-1-y: -500px;
    --big-stroke-2-x: 300px;
    --big-stroke-2-y: -600px;
    --big-stroke-3-x: 700px;
    --big-stroke-3-y: -800px;
  }
}

.block {
  @include vars;

  position: relative;
  overflow: hidden;
  flex: 1;
  &:has(.fabric) {
    background: var(--black);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.5;
      z-index: 0;
    }
  }

  &.light {
    background: var(--white);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15) inset;
  }
  &.dark {
    background: var(--black);
  }
  &.fabric {
    background-image: url("/photos/Textures/Fabric.png");
    background-size: 20%;
  }

  .strokes {
    @include absoluteFill;

    img {
      position: absolute;

      width: var(--big-stoke-width);
      height: auto !important;
      object-fit: contain !important;
      transform: rotate(240deg);
      &:nth-child(1) {
        top: var(--big-stroke-1-y);
        left: var(--big-stroke-1-x);
      }
      &:nth-child(2) {
        top: var(--big-stroke-2-y);
        right: var(--big-stroke-2-x);
      }
      &:nth-child(3) {
        bottom: var(--big-stroke-3-y);
        right: var(--big-stroke-3-x);
        transform: rotate(60deg);
      }
    }
  }

  .title {
    position: relative;
    box-sizing: content-box;
    width: fit-content;
    .heading {
      z-index: 1;
    }
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: var(--stroke-height);
      object-fit: fill !important;
    }
  }
  .content {
    max-width: var(--screen-width-small);
    z-index: 1;
  }
}
