@import "@/styles/mixins.scss";

@mixin vars() {
  --wrapper-padding-bottom: var(--pad-5);
  --ratio: 4/3;
  --ratio-flip: 3/4;
  --grid-gap: 5px;
  @media (min-width: $tablet) {
    --wrapper-padding-bottom: var(--pad-6);
    --ratio: 16/9;
    --ratio-flip: 9/16;
    --grid-gap: 10px;
  }

  @media (min-width: $laptop) {
    --wrapper-padding-bottom: var(--pad-7);
    --ratio: unset;
    --ratio-flip: unset;
    --grid-gap: 10px;
  }

  @media (min-width: $desktop) {
    --wrapper-padding-bottom: var(--pad-8);
    --grid-gap: 15px;
  }
}

.wrapper {
  @include vars;
  @include flexColumn;

  width: 100%;
  height: 100%;
  max-width: 100vw;
  position: relative;

  .ui {
    @include absoluteFill;

    height: auto;
    aspect-ratio: var(--ratio);
    pointer-events: none;
    .progressBar {
      @include flex(flex-start);

      position: absolute;
      bottom: 5%;
      left: 20%;
      right: 20%;
      height: 8px;
      background-color: var(--white);
      border-radius: 4px;
      overflow: hidden;
      z-index: 4;
      .progress {
        height: 100%;
        background: var(--primary);
      }
    }

    .customArrows {
      @include flex(flex-start, flex-end);

      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: 3;

      > * {
        cursor: pointer;
        pointer-events: all;
        padding-bottom: var(--pad-8) !important;
        transition: 200ms;
      }

      .prevArrow {
        padding: var(--pad-3) var(--pad-5);
        transform: translate(-100%, var(--pad-3));
        background: var(--white);
      }

      .nextArrow {
        padding: var(--pad-3) var(--pad-5);

        transform: translate(calc(-100%), var(--pad-3));
        background: var(--black);
        // border-radius: 0 60px 60px 0;
      }
    }
  }

  .content {
    @include flexColumn(stretch, stretch);
    .imgWrapper {
      height: calc(100vw * var(--ratio-flip)) !important;
      width: 100vw;
    }
  }

  .container {
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
    .track {
      height: 100%;
    }
  }

  @media (min-width: $laptop) {
    .ui {
      height: 100%;
    }
    .content {
      flex-direction: row !important;
      flex: 1;
      min-width: 100%;
      .imgWrapper {
        height: 100% !important;
        flex: 1;
      }
    }
  }
}
